header {
  background-color: black;
  color: white;
  padding: 2rem 0 1rem; 

  @media (max-width: 768px) {
    padding: 1rem 0 1rem; 
  }

  .container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {

    button {
      border: none;
      background: black;
      color:white;
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      cursor: pointer;
    }
  }

  .nav {
    display: flex;
    gap: 1.5rem;
  }

  .cta {
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .nav {
      display: none;
    }

    .menu-icon {
      display: block;

      button {
        border: none;
        cursor: pointer;
        background: black;
        color: white;
        font-size: 22px;
        display: flex;
      }
    }
  }
}
